* {
    background-color: #F2F3F4;
    font-family: 'Raleway', sans-serif;
}
.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:"header header header"
                        "contenido contenido contenido"
                        "footer footer footer";
}
#header {
    grid-area: header;
    display: flex;  /* Tipo de display, flexbox */
    justify-content: space-between; /* Alineaci칩n de los contenedores */
    border: 2px solid;  /* Tama침o del borde del header */
    height: 180px;  /* Se le asigna el tama침o al header */
    align-items: center;    /* Se alinea horizontalmente y verticalmente el contenido */
    margin: 10px;
}
.headerLogo {
    width: auto;
    margin-left: 20px;
}
.headerMenu ul{
    display: flex;  /* Se aplica flexbox */
    list-style: none;   /* Se le quitan las vi침etas a las listas */
    margin-right: 30px;
}
.headerMenu ul li{
    margin: 0 15px;
}
a {
    text-decoration: none;
}
a:hover {
    color: blue;
}
.contenido {
    grid-area: contenido;
}
#footer {
    grid-area: footer;
    text-align: center;
}
.texto {
    text-align: justify;
    font-family: 'Archivo Black', sans-serif;    
}
.desPag {
    margin-top: 40px;
    margin-bottom: 40px;
}
.subTitulo {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
}
#galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0px 10px 30px 10px;
    border: 1px solid;
    padding: 20px;
}
#galeria img {
    width: 200px;
}

#galeria img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 500px;
}


