* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.grid {
    width: 85%;
    display: grid;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    gap: 10px;
    grid-template-areas:"header header header"
                        "contenido contenido widget1"
                        "contenido contenido widget1"
                        "contenido contenido widget2"
                        "footer footer footer";
}
p, h1, h2, h3, h4 {
    margin: 20px 0 20px 0;
}
#header {
    grid-area: header;
    display: flex;  /* Tipo de display, flexbox */
    justify-content: space-between; /* Alineación de los contenedores */
    border: 2px solid;  /* Tamaño del borde del header */
    height: 180px;  /* Se le asigna el tamaño al header */
    align-items: center;    /* Se alinea horizontalmente y verticalmente el contenido */
    margin: 10px;
    max-width: 1500px;
    min-width: 700px;
    background-color: #f7f7f7;
    
}
.headerLogo {
    width: auto;
    margin-left: 20px;
}
.headerMenu ul{
    display: flex;  /* Se aplica flexbox */
    list-style: none;   /* Se le quitan las viñetas a las listas */
    margin-right: 30px;
}
.headerMenu ul li{
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 12);
    background-color: #9ecef8;
    
}
/* Fin de navegación */
#contenido {
    grid-area: contenido;
    margin-left: 50px;
}
.widget1 {
    grid-area: widget1;
}
.widget2 {
    grid-area: widget2;
}
#footer {
    grid-area: footer;
    text-align: center;
    margin: 20px 20px 0px 20px;
    border-top: 1px solid;
    background-image: radial-gradient(circle at -16.45% 74.18%, #c2ffff 0, #6c90d8 50%, #242d40 100%);
}
#footer p {
    margin: 15px;
}
#footer img {
    border-radius: 20px;
}
.texto {
    text-align: justify;
    font-family: 'Archivo Black', sans-serif;    
}
.desPag {
    margin-top: 40px;
    margin-bottom: 40px;
}
.subTitulo {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    text-decoration: underline;
}
#galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; 
    margin: 0px 10px 30px 10px;
    border: 1px solid;
    padding: 20px;
}
#galeria img {
    width: 200px;
    height: auto;
}

#galeria img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 500px;
}
.flexIzquierda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.flexIzquierda p {
    padding-left: 30px;
    text-align: justify;
}
.flexDerecha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.flexDerecha p {
    padding-left: 30px;
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .grid {
        display: grid;
        width: 100%;
        margin: 0 auto;
        justify-items: center;
        align-items: stretch;
        grid-template-areas:"header header header header"
                            "contenido contenido contenido contenido"
                            "contenido contenido contenido contenido"
                            "widget1 widget1 . widget2"
                            "widget1 widget1 . widget2"
                            "footer footer footer footer";
        grid-template-rows: 300px 300px 300px 300px;
    }
@media screen and (max-width: 768px) {
    .grid {
        display: grid;
        justify-content: center;
        align-items: stretch;
        grid-template-areas:"header header header"
                            "contenido contenido contenido"
                            "contenido contenido contenido"
                            "widget1 widget1 widget 1"
                            "widget2 widget2 widget 2"
                            "footer footer footer";
    }
    .widget1 {
        max-width: none;
    }
    .widget2 {
        max-width: none;
    }
}
}